In [ ]:
!pip install nilearn

Requirement already satisfied: nilearn in /usr/local/lib/python3.11/dist-packages (0.11.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from nilearn) (1.5.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.11/dist-packages (from nilearn) (5.4.0)
Requirement already satisfied: nibabel>=5.2.0 in /usr/local/lib/python3.11/dist-packages (from nilearn) (5.3.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.11/dist-packages (from nilearn) (2.0.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from nilearn) (24.2)
Requirement already satisfied: pandas>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from nilearn) (2.2.2)
Requirement already satisfied: requests>=2.25.0 in /usr/local/lib/python3.11/dist-packages (from nilearn) (2.32.3)
Requirement already satisfied: scikit-learn>=1.4.0 in /usr/local/lib/python3.11/dist-packages (from nilearn) (1.6.1)
Requirement already satisfied: scipy>=1.8.0 in /usr/local/lib/python3.11/dist-packages (from nilearn) (1.15.3)
Requirement already satisfied: importlib-resources>=5.12 in /usr/local/lib/python3.11/dist-packages (from nibabel>=5.2.0->nilearn) (6.5.2)
Requirement already satisfied: typing-extensions>=4.6 in /usr/local/lib/python3.11/dist-packages (from nibabel>=5.2.0->nilearn) (4.13.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.2.0->nilearn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.2.0->nilearn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=2.2.0->nilearn) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.25.0->nilearn) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.25.0->nilearn) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.25.0->nilearn) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.25.0->nilearn) (2025.4.26)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn>=1.4.0->nilearn) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->nilearn) (1.17.0)

In [ ]:
from nilearn.datasets import fetch_oasis_vbm
from nilearn.image import load_img
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
oasis = fetch_oasis_vbm(dartel_version=True)
gray_matter_maps = oasis.gray_matter_maps
ext_vars = pd.DataFrame(oasis.ext_vars)

[get_dataset_dir] Dataset found in /root/nilearn_data/oasis1

In [ ]:
# Number of subjects (based on gray matter maps)
num_subjects = len(oasis['gray_matter_maps'])
print(f"Number of subjects: {num_subjects}")

Number of subjects: 403

In [ ]:
# Check clinical and demographic variables
import pandas as pd
ext_vars = pd.DataFrame(oasis['ext_vars'])
print("\nClinical/demographic variables (first few rows):")
print(ext_vars.head())

Clinical/demographic variables (first few rows):
              id mf hand  age  educ  ses  mmse  cdr  etiv   nwbv    asf  delay
0  OAS1_0001_MR1  F    R   74   2.0  3.0  29.0  0.0  1344  0.743  1.306    NaN
1  OAS1_0002_MR1  F    R   55   4.0  1.0  29.0  0.0  1147  0.810  1.531    NaN
2  OAS1_0003_MR1  F    R   73   4.0  3.0  27.0  0.5  1454  0.708  1.207    NaN
3  OAS1_0004_MR1  M    R   28   NaN  NaN   NaN  NaN  1588  0.803  1.105    NaN
4  OAS1_0005_MR1  M    R   18   NaN  NaN   NaN  NaN  1737  0.848  1.010    NaN

In [ ]:
ext_vars.head(50)

,id,mf,hand,age,educ,ses,mmse,cdr,etiv,nwbv,asf,delay
0,OAS1_0001_MR1,F,R,74,2.0,3.0,29.0,0.0,1344,0.743,1.306,NaN
1,OAS1_0002_MR1,F,R,55,4.0,1.0,29.0,0.0,1147,0.810,1.531,NaN
2,OAS1_0003_MR1,F,R,73,4.0,3.0,27.0,0.5,1454,0.708,1.207,NaN
3,OAS1_0004_MR1,M,R,28,NaN,NaN,NaN,NaN,1588,0.803,1.105,NaN
4,OAS1_0005_MR1,M,R,18,NaN,NaN,NaN,NaN,1737,0.848,1.010,NaN
5,OAS1_0006_MR1,F,R,24,NaN,NaN,NaN,NaN,1131,0.862,1.551,NaN
6,OAS1_0007_MR1,M,R,21,NaN,NaN,NaN,NaN,1516,0.830,1.157,NaN
7,OAS1_0009_MR1,F,R,20,NaN,NaN,NaN,NaN,1505,0.843,1.166,NaN
8,OAS1_0010_MR1,M,R,74,5.0,2.0,30.0,0.0,1636,0.689,1.073,NaN
9,OAS1_0011_MR1,F,R,52,3.0,2.0,30.0,0.0,1321,0.827,1.329,NaN
10,OAS1_0012_MR1,M,R,30,NaN,NaN,NaN,NaN,1574,0.842,1.115,NaN
11,OAS1_0013_MR1,F,R,81,5.0,2.0,30.0,0.0,1664,0.679,1.055,NaN
12,OAS1_0014_MR1,F,R,19,NaN,NaN,NaN,NaN,1525,0.856,1.151,NaN
13,OAS1_0015_MR1,M,R,76,2.0,NaN,28.0,0.5,1738,0.719,1.010,NaN
14,OAS1_0016_MR1,M,R,82,2.0,4.0,27.0,0.5,1477,0.739,1.188,NaN
15,OAS1_0017_MR1,M,R,21,NaN,NaN,NaN,NaN,1689,0.845,1.039,NaN
16,OAS1_0018_MR1,M,R,39,3.0,4.0,28.0,0.0,1636,0.813,1.073,NaN
17,OAS1_0019_MR1,F,R,89,5.0,1.0,30.0,0.0,1536,0.715,1.142,NaN
18,OAS1_0020_MR1,F,R,48,5.0,2.0,29.0,0.0,1326,0.785,1.323,NaN
19,OAS1_0021_MR1,F,R,80,3.0,3.0,23.0,0.5,1794,0.765,0.978,NaN
20,OAS1_0022_MR1,F,R,69,2.0,4.0,23.0,0.5,1447,0.757,1.213,NaN
21,OAS1_0023_MR1,M,R,82,2.0,3.0,27.0,0.5,1420,0.710,1.236,NaN
22,OAS1_0025_MR1,F,R,24,NaN,NaN,NaN,NaN,1240,0.893,1.415,NaN
23,OAS1_0026_MR1,F,R,58,5.0,1.0,30.0,0.0,1235,0.820,1.421,NaN
25,OAS1_0028_MR1,F,R,86,2.0,4.0,27.0,1.0,1449,0.738,1.211,NaN
26,OAS1_0029_MR1,M,R,21,NaN,NaN,NaN,NaN,1653,0.858,1.062,NaN
27,OAS1_0030_MR1,F,R,65,2.0,3.0,29.0,0.0,1392,0.764,1.261,NaN
28,OAS1_0031_MR1,M,R,88,1.0,4.0,26.0,1.0,1419,0.674,1.236,NaN
29,OAS1_0032_MR1,M,R,89,4.0,1.0,28.0,0.0,1631,0.682,1.076,NaN
30,OAS1_0033_MR1,F,R,80,4.0,2.0,29.0,0.0,1323,0.735,1.326,NaN
31,OAS1_0034_MR1,M,R,51,5.0,1.0,29.0,0.0,1538,0.831,1.141,NaN
32,OAS1_0035_MR1,F,R,84,3.0,2.0,28.0,1.0,1402,0.695,1.252,NaN
33,OAS1_0037_MR1,M,R,27,NaN,NaN,NaN,NaN,1313,0.842,1.336,NaN
34,OAS1_0038_MR1,F,R,23,NaN,NaN,NaN,NaN,1443,0.839,1.216,NaN
35,OAS1_0039_MR1,M,R,70,4.0,3.0,29.0,0.5,1463,0.772,1.200,NaN
36,OAS1_0040_MR1,F,R,38,NaN,NaN,NaN,NaN,1244,0.824,1.411,NaN
37,OAS1_0041_MR1,F,R,62,2.0,NaN,28.0,0.5,1350,0.758,1.300,NaN
38,OAS1_0042_MR1,M,R,80,4.0,2.0,29.0,0.5,1854,0.709,0.947,NaN
39,OAS1_0043_MR1,M,R,21,NaN,NaN,NaN,NaN,1511,0.846,1.162,NaN
40,OAS1_0044_MR1,F,R,47,4.0,2.0,30.0,0.0,1346,0.829,1.304,NaN
41,OAS1_0045_MR1,M,R,29,NaN,NaN,NaN,NaN,1590,0.829,1.104,NaN
42,OAS1_0046_MR1,M,R,64,2.0,NaN,22.0,0.5,1351,0.787,1.299,NaN
43,OAS1_0047_MR1,F,R,57,NaN,NaN,NaN,NaN,1408,0.784,1.247,NaN
44,OAS1_0049_MR1,F,R,20,NaN,NaN,NaN,NaN,1329,0.887,1.321,NaN
45,OAS1_0050_MR1,F,R,48,NaN,NaN,NaN,NaN,1358,0.841,1.293,NaN
46,OAS1_0051_MR1,F,R,24,NaN,NaN,NaN,NaN,1567,0.835,1.120,NaN
47,OAS1_0052_MR1,F,R,78,1.0,5.0,23.0,1.0,1462,0.697,1.200,NaN
48,OAS1_0053_MR1,F,R,83,1.0,4.0,21.0,1.0,1384,0.699,1.268,NaN
49,OAS1_0054_MR1,F,R,21,NaN,NaN,NaN,NaN,1567,0.848,1.120,NaN
50,OAS1_0055_MR1,F,R,20,NaN,NaN,NaN,NaN,1432,0.831,1.226,NaN

In [ ]:
ext_vars['hand'].value_counts()

hand
R    403
Name: count, dtype: int64

In [ ]:
ext_vars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403 entries, 0 to 414
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      403 non-null    object
 1   mf      403 non-null    object
 2   hand    403 non-null    object
 3   age     403 non-null    int64
 4   educ    226 non-null    float64
 5   ses     207 non-null    float64
 6   mmse    226 non-null    float64
 7   cdr     226 non-null    float64
 8   etiv    403 non-null    int64
 9   nwbv    403 non-null    float64
 10  asf     403 non-null    float64
 11  delay   0 non-null      float64
dtypes: float64(7), int64(2), object(3)
memory usage: 40.9+ KB

In [ ]:
ext_vars.isna().sum()

id         0
mf         0
hand       0
age        0
educ     177
ses      196
mmse     177
cdr      177
etiv       0
nwbv       0
asf        0
delay    403
dtype: int64

In [ ]:
# Check rows where 'cdr' is NaN and get the corresponding 'age' values
nan_adr_ages = ext_vars[ext_vars['cdr'].isna()]['age']

# Print the result
print(nan_adr_ages)

3      28
4      18
5      24
6      21
7      20
       ..
397    21
400    23
402    30
406    22
408    19
Name: age, Length: 177, dtype: int64

In [ ]:
# Get only the 'age' values where 'cdr' is NaN
nan_adr_ages = ext_vars[ext_vars['cdr'].isna()]['age'].values

# Print all 177 values
print(nan_adr_ages)

[28 18 24 21 20 30 19 21 24 21 27 23 38 21 29 57 20 48 24 21 20 20 20 48
 18 20 25 25 18 21 40 20 18 22 28 23 19 29 18 19 24 20 20 25 23 25 19 26
 22 21 30 18 24 22 24 23 24 22 34 25 23 20 25 23 23 20 40 57 20 18 41 50
 35 23 44 48 44 22 43 21 31 23 21 23 22 20 48 18 26 22 26 19 20 22 37 20
 29 22 28 21 20 21 28 24 54 50 22 28 18 20 20 20 28 22 48 20 22 20 27 33
 31 19 27 50 19 54 26 41 19 20 23 22 43 21 22 21 20 22 23 46 31 25 20 58
 38 22 26 26 55 24 22 26 25 20 19 25 55 22 34 23 25 21 23 30 21 22 22 45
 22 50 23 22 21 23 30 22 19]

In [ ]:
# Check the age of patients gouping them by cdr score

for score in [0.5, 1.0, 2.0]:
    ages = ext_vars[ext_vars['cdr'] == score]['age']
    print(f"\nCDR = {score}:")
    print(ages.values)

CDR = 0.5:
[73 76 82 80 69 82 70 62 80 64 79 75 81 66 67 72 70 83 73 70 66 71 81 84
 81 80 87 75 73 78 90 77 77 74 64 90 79 80 75 89 83 71 83 72 68 84 67 73
 77 80 80 79 81 63 73 83 69 92 76 71 74 72 86 81 92 73 70 73]

CDR = 1.0:
[86 88 84 78 83 72 71 69 80 87 65 78 84 78 96 73 72 80 67 77 78 77 75 78
 71 75]

CDR = 2.0:
[78 86]

In [ ]:
# Chech the shape of the image
from nilearn.image import load_img

# Load the first image path
first_image_path = oasis['gray_matter_maps'][0]

# Load the Nifti image
first_image = load_img(first_image_path)

# Get the shape of the image data
image_shape = first_image.shape

print(f"Shape of the first MRI image: {image_shape}")

Shape of the first MRI image: (91, 109, 91)